/*petseacheye responsive style*/
/*petseacheye variables*/
/*320<480<768<979*/
@media screen and (min-width: 979px) {
  /* line 8, ../sass/style-responsive.scss */
  .Wrapper.Wrapper .Header {
    width: 950px;
    margin: auto;
    overflow: hidden;
    *zoom: 1;
  }
  /* line 12, ../sass/style-responsive.scss */
  .Wrapper.Wrapper .Header .brand {
    overflow: hidden;
    *zoom: 1;
    display: block;
  }
  /* line 15, ../sass/style-responsive.scss */
  .Wrapper.Wrapper .Header .brand .logo {
    display: block;
    width: 198px;
    height: 40px;
    float: left;
  }
  /* line 21, ../sass/style-responsive.scss */
  .Wrapper.Wrapper .Header .brand .head_text {
    display: block;
    width: 300px;
    height: 60px;
    background: brown;
    float: right;
  }
  /* line 28, ../sass/style-responsive.scss */
  .Wrapper.Wrapper .Header .brand .nav li {
    width: 230px;
    margin-right: 10px;
  }
  /* line 32, ../sass/style-responsive.scss */
  .Wrapper.Wrapper .Header .brand .nav li.li4 {
    margin-right: 0;
  }
  /* line 38, ../sass/style-responsive.scss */
  .Wrapper.Wrapper .Contents {
    width: 950px;
    margin: auto;
    overflow: hidden;
    *zoom: 1;
  }
  /* line 42, ../sass/style-responsive.scss */
  .Wrapper.Wrapper .Contents .ContentHeader {
    clear: both;
  }
  /* line 46, ../sass/style-responsive.scss */
  .Wrapper.Wrapper .Contents .ContentBody .MainContent {
    float: left;
    width: 630px;
  }
  /* line 56, ../sass/style-responsive.scss */
  .Wrapper.Wrapper .Contents .ContentBody .SubContent {
    float: left;
    width: 300px;
  }
  /* line 65, ../sass/style-responsive.scss */
  .Wrapper.Wrapper .Footer {
    width: 950px;
    margin: auto;
    overflow: hidden;
    *zoom: 1;
  }
  /* line 70, ../sass/style-responsive.scss */
  .Wrapper.Wrapper .Footer .footer_wrap {
    margin: 20px auto;
  }
}
/*tablet display*/
@media (min-width: 768px) and (max-width: 978px) {
  /* line 79, ../sass/style-responsive.scss */
  .Wrapper.Wrapper .Header {
    width: 730px;
    margin: auto;
  }
  /* line 82, ../sass/style-responsive.scss */
  .Wrapper.Wrapper .Header .brand {
    overflow: hidden;
    *zoom: 1;
    display: block;
  }
  /* line 85, ../sass/style-responsive.scss */
  .Wrapper.Wrapper .Header .brand .logo {
    display: block;
    width: 198px;
    height: 40px;
    float: left;
  }
  /* line 91, ../sass/style-responsive.scss */
  .Wrapper.Wrapper .Header .brand .head_text {
    display: block;
    width: 300px;
    height: 60px;
    background: brown;
    float: right;
  }
  /* line 98, ../sass/style-responsive.scss */
  .Wrapper.Wrapper .Header .brand .nav li {
    width: 175px;
    margin-right: 10px;
  }
  /* line 102, ../sass/style-responsive.scss */
  .Wrapper.Wrapper .Header .brand .nav li.li4 {
    margin-right: 0;
  }
  /* line 108, ../sass/style-responsive.scss */
  .Wrapper.Wrapper .Contents {
    width: 730px;
    margin: auto;
  }
  /* line 129, ../sass/style-responsive.scss */
  .Wrapper.Wrapper .Footer {
    width: 730px;
    margin: auto;
  }
  /* line 133, ../sass/style-responsive.scss */
  .Wrapper.Wrapper .Footer .footer_wrap {
    margin: 20px auto;
  }
}
/*sp horizontal display*/
/*sp width*/
