/*petseacheye responsive style*/
/*petseacheye variables*/
/*320<480<768<979*/
@media screen and (min-width: 979px) {
  /* line 9, ../sass/style-responsive.scss */
  .Wrapper.Wrapper .Header .Headerwrap {
    width: 950px;
    margin: auto;
    overflow: hidden;
    *zoom: 1;
  }
  /* line 13, ../sass/style-responsive.scss */
  .Wrapper.Wrapper .Header .Headerwrap .brand {
    overflow: hidden;
    *zoom: 1;
    display: block;
  }
  /* line 16, ../sass/style-responsive.scss */
  .Wrapper.Wrapper .Header .Headerwrap .brand .logo {
    display: block;
    width: 198px;
    height: 40px;
    float: left;
  }
  /* line 22, ../sass/style-responsive.scss */
  .Wrapper.Wrapper .Header .Headerwrap .brand .head_text {
    display: block;
    width: 300px;
    height: 60px;
    background: brown;
    float: right;
  }
  /* line 29, ../sass/style-responsive.scss */
  .Wrapper.Wrapper .Header .Headerwrap .brand .nav li {
    width: 230px;
    margin-right: 10px;
  }
  /* line 33, ../sass/style-responsive.scss */
  .Wrapper.Wrapper .Header .Headerwrap .brand .nav li.li4 {
    margin-right: 0;
  }
  /* line 41, ../sass/style-responsive.scss */
  .Wrapper.Wrapper .Contents .Contentswrap {
    width: 950px;
    margin: auto;
    overflow: hidden;
    *zoom: 1;
  }
  /* line 45, ../sass/style-responsive.scss */
  .Wrapper.Wrapper .Contents .Contentswrap .ContentHeader {
    clear: both;
  }
  /* line 49, ../sass/style-responsive.scss */
  .Wrapper.Wrapper .Contents .Contentswrap .ContentBody .MainContent {
    float: left;
    width: 630px;
  }
  /* line 59, ../sass/style-responsive.scss */
  .Wrapper.Wrapper .Contents .Contentswrap .ContentBody .SubContent {
    float: left;
    width: 300px;
  }
  /* line 69, ../sass/style-responsive.scss */
  .Wrapper.Wrapper .Footer .Footerwrap {
    width: 950px;
    margin: 20px auto;
    overflow: hidden;
    *zoom: 1;
  }
}
/*tablet display*/
@media (min-width: 768px) and (max-width: 978px) {
  /* line 81, ../sass/style-responsive.scss */
  .Wrapper.Wrapper .Header .Headerwrap {
    width: 730px;
    margin: auto;
  }
  /* line 84, ../sass/style-responsive.scss */
  .Wrapper.Wrapper .Header .Headerwrap .brand {
    overflow: hidden;
    *zoom: 1;
    display: block;
  }
  /* line 87, ../sass/style-responsive.scss */
  .Wrapper.Wrapper .Header .Headerwrap .brand .logo {
    display: block;
    width: 198px;
    height: 40px;
    float: left;
  }
  /* line 93, ../sass/style-responsive.scss */
  .Wrapper.Wrapper .Header .Headerwrap .brand .head_text {
    display: block;
    width: 300px;
    height: 60px;
    background: brown;
    float: right;
  }
  /* line 100, ../sass/style-responsive.scss */
  .Wrapper.Wrapper .Header .Headerwrap .brand .nav li {
    width: 175px;
    margin-right: 10px;
  }
  /* line 104, ../sass/style-responsive.scss */
  .Wrapper.Wrapper .Header .Headerwrap .brand .nav li.li4 {
    margin-right: 0;
  }
  /* line 112, ../sass/style-responsive.scss */
  .Wrapper.Wrapper .Contents .Contentswrap {
    width: 730px;
    margin: auto;
  }
  /* line 135, ../sass/style-responsive.scss */
  .Wrapper.Wrapper .Footer .Footerwrap {
    width: 730px;
    margin: 20px auto;
  }
}
/*sp horizontal display*/
/*sp width*/
