@charset "UTF-8";
/*petseacheye style*/
/*petseacheye variables*/
/*320<480<730<800*/
/* Base class
------------------------- */
/* line 17, ../../../../../../local/lib/ruby/gems/2.0.0/gems/compass-0.12.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../local/lib/ruby/gems/2.0.0/gems/compass-0.12.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../local/lib/ruby/gems/2.0.0/gems/compass-0.12.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../local/lib/ruby/gems/2.0.0/gems/compass-0.12.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../local/lib/ruby/gems/2.0.0/gems/compass-0.12.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../local/lib/ruby/gems/2.0.0/gems/compass-0.12.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../local/lib/ruby/gems/2.0.0/gems/compass-0.12.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../local/lib/ruby/gems/2.0.0/gems/compass-0.12.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../local/lib/ruby/gems/2.0.0/gems/compass-0.12.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 6, ../sass/_base.scss */
body {
  font-family: 'Lucida Grande', 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', Meiryo, メイリオ, sans-serif;
  line-height: 1.8;
  color: #333;
}

@media screen and (min-width: 480px) {
  /* line 13, ../sass/_base.scss */
  body {
    font-size: 22px;
  }
}
@media screen and (max-width: 480px -1) {
  /* line 19, ../sass/_base.scss */
  body {
    font-size: 16px;
  }
}
/* line 23, ../sass/_base.scss */
a {
  color: #0081cc;
  text-decoration: none;
}
/* line 26, ../sass/_base.scss */
a:visited {
  color: #0061aa;
}
/* line 29, ../sass/_base.scss */
a:hover {
  text-decoration: underline;
}

/*petseacheye responsive style*/
/*petseacheye variables*/
/*320<480<730<800*/
@media screen and (min-width: 800px) {
  /* line 8, ../sass/style-responsive.scss */
  .Wrapper.Wrapper .Header .Headerwrap {
    width: 800px;
    margin: auto;
    overflow: hidden;
    *zoom: 1;
  }
  /* line 12, ../sass/style-responsive.scss */
  .Wrapper.Wrapper .Header .Headerwrap .brand {
    overflow: hidden;
    *zoom: 1;
    display: block;
  }
  /* line 15, ../sass/style-responsive.scss */
  .Wrapper.Wrapper .Header .Headerwrap .brand .logo {
    display: block;
    width: 250px;
    height: 50px;
    float: left;
  }
  /* line 21, ../sass/style-responsive.scss */
  .Wrapper.Wrapper .Header .Headerwrap .brand .head_text {
    display: block;
    font-size: 14px;
    width: 280px;
    height: 60px;
    padding-left: 50px;
    background: url(../img/phone.png) no-repeat left center;
    float: right;
  }
  /* line 40, ../sass/style-responsive.scss */
  .Wrapper.Wrapper .Contents .Contentswrap .ContentHeader .ContentHeaderwrap {
    width: 800px;
    margin: auto;
    overflow: hidden;
    *zoom: 1;
  }
  /* line 49, ../sass/style-responsive.scss */
  .Wrapper.Wrapper .Contents .Contentswrap .ContentBody .ContentBodywrap .MainContent {
    padding: 40px 0 40px;
  }
  /* line 51, ../sass/style-responsive.scss */
  .Wrapper.Wrapper .Contents .Contentswrap .ContentBody .ContentBodywrap .MainContent .MainContentwrap {
    width: 800px;
    margin: auto;
    overflow: hidden;
    *zoom: 1;
    background: #fff;
    background: rgba(255, 255, 255, 0.8);
    -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px;
    -moz-box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px;
    box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px;
  }
  /* line 59, ../sass/style-responsive.scss */
  .Wrapper.Wrapper .Contents .Contentswrap .ContentBody .ContentBodywrap .MainContent .MainContentwrap .content_header {
    padding-top: 60px;
    width: 600px;
    margin: auto;
  }
  /* line 64, ../sass/style-responsive.scss */
  .Wrapper.Wrapper .Contents .Contentswrap .ContentBody .ContentBodywrap .MainContent .MainContentwrap .content_body {
    padding: 20px;
    width: 600px;
    margin: auto;
  }
  /* line 69, ../sass/style-responsive.scss */
  .Wrapper.Wrapper .Contents .Contentswrap .ContentBody .ContentBodywrap .MainContent .MainContentwrap .content_footer {
    padding: 20px;
    width: 600px;
    margin: auto;
  }
  /* line 78, ../sass/style-responsive.scss */
  .Wrapper.Wrapper .Contents .Contentswrap .ContentBody .ContentBodywrap .SubContent .SubContentwrap {
    width: 800px;
    margin: auto;
    overflow: hidden;
    *zoom: 1;
  }
  /* line 87, ../sass/style-responsive.scss */
  .Wrapper.Wrapper .Contents .Contentswrap .ContentFooter {
    border-top: 2px solid #8dc75a;
    background: #444444;
  }
  /* line 90, ../sass/style-responsive.scss */
  .Wrapper.Wrapper .Contents .Contentswrap .ContentFooter .ContentFooterwrap {
    width: 800px;
    margin: auto;
    overflow: hidden;
    *zoom: 1;
  }
  /* line 103, ../sass/style-responsive.scss */
  .Wrapper.Wrapper .Contents .Contentswrap .ContentFooter .ContentFooterwrap .menu .sub-menu {
    display: block;
  }
  /* line 112, ../sass/style-responsive.scss */
  .Wrapper.Wrapper .Footer .Footerwrap {
    width: 800px;
    margin: auto;
    overflow: hidden;
    *zoom: 1;
  }
}
/*tablet display*/
@media (min-width: 730px) and (max-width: 799px) {
  /* line 124, ../sass/style-responsive.scss */
  .Wrapper.Wrapper .Header .Headerwrap {
    width: 730px;
    margin: auto;
  }
  /* line 127, ../sass/style-responsive.scss */
  .Wrapper.Wrapper .Header .Headerwrap .brand {
    overflow: hidden;
    *zoom: 1;
    display: block;
  }
  /* line 130, ../sass/style-responsive.scss */
  .Wrapper.Wrapper .Header .Headerwrap .brand .logo {
    display: block;
    width: 250px;
    height: 50px;
    float: left;
  }
  /* line 136, ../sass/style-responsive.scss */
  .Wrapper.Wrapper .Header .Headerwrap .brand .head_text {
    display: block;
    font-size: 14px;
    width: 280px;
    height: 60px;
    padding-left: 50px;
    background: url(../img/phone.png) no-repeat left center;
    float: right;
  }
  /* line 146, ../sass/style-responsive.scss */
  .Wrapper.Wrapper .Header .Headerwrap .brand .nav li {
    width: 175px;
    margin-right: 10px;
  }
  /* line 150, ../sass/style-responsive.scss */
  .Wrapper.Wrapper .Header .Headerwrap .brand .nav li.li4 {
    margin-right: 0;
  }
  /* line 160, ../sass/style-responsive.scss */
  .Wrapper.Wrapper .Contents .Contentswrap .ContentHeader .ContentHeaderwrap {
    width: 730px;
    margin: auto;
    overflow: hidden;
    *zoom: 1;
  }
  /* line 168, ../sass/style-responsive.scss */
  .Wrapper.Wrapper .Contents .Contentswrap .ContentBodywrap .MainContent {
    padding: 40px 0 40px;
  }
  /* line 170, ../sass/style-responsive.scss */
  .Wrapper.Wrapper .Contents .Contentswrap .ContentBodywrap .MainContent .MainContentwrap {
    width: 730px;
    margin: auto;
    overflow: hidden;
    *zoom: 1;
    background: #fff;
  }
  /* line 176, ../sass/style-responsive.scss */
  .Wrapper.Wrapper .Contents .Contentswrap .ContentBodywrap .MainContent .MainContentwrap .content_header {
    padding-top: 30px;
    width: 550px;
    margin: auto;
  }
  /* line 181, ../sass/style-responsive.scss */
  .Wrapper.Wrapper .Contents .Contentswrap .ContentBodywrap .MainContent .MainContentwrap .content_body {
    padding: 20px;
    width: 550px;
    margin: auto;
  }
  /* line 186, ../sass/style-responsive.scss */
  .Wrapper.Wrapper .Contents .Contentswrap .ContentBodywrap .MainContent .MainContentwrap .content_footer {
    padding: 20px;
    width: 550px;
    margin: auto;
  }
  /* line 195, ../sass/style-responsive.scss */
  .Wrapper.Wrapper .Contents .Contentswrap .ContentBodywrap .SubContent .SubContentwrap {
    width: 730px;
    margin: auto;
    overflow: hidden;
    *zoom: 1;
  }
  /* line 203, ../sass/style-responsive.scss */
  .Wrapper.Wrapper .Contents .Contentswrap .ContentFooter {
    background: #444444;
  }
  /* line 205, ../sass/style-responsive.scss */
  .Wrapper.Wrapper .Contents .Contentswrap .ContentFooter .ContentFooterwrap {
    width: 730px;
    margin: auto;
    overflow: hidden;
    *zoom: 1;
  }
  /* line 214, ../sass/style-responsive.scss */
  .Wrapper.Wrapper .Footer .Footerwrap {
    width: 730px;
    margin: auto;
  }
}
/*sp horizontal display*/
@media (min-width: 480px) and (max-width: 729px) {
  /* line 225, ../sass/style-responsive.scss */
  .Wrapper.Wrapper .Header .Headerwrap {
    width: 100%;
    margin: auto;
  }
  /* line 228, ../sass/style-responsive.scss */
  .Wrapper.Wrapper .Header .Headerwrap .brand {
    overflow: hidden;
    *zoom: 1;
    display: block;
  }
  /* line 231, ../sass/style-responsive.scss */
  .Wrapper.Wrapper .Header .Headerwrap .brand .logo {
    display: block;
    width: 250px;
    height: 50px;
    float: left;
  }
  /* line 237, ../sass/style-responsive.scss */
  .Wrapper.Wrapper .Header .Headerwrap .brand .head_text {
    display: block;
    font-size: 14px;
    width: 280px;
    height: 60px;
    padding-left: 50px;
    background: url(../img/phone.png) no-repeat left center;
    float: right;
  }
  /* line 247, ../sass/style-responsive.scss */
  .Wrapper.Wrapper .Header .Headerwrap .brand .nav li {
    width: 175px;
    margin-right: 10px;
  }
  /* line 251, ../sass/style-responsive.scss */
  .Wrapper.Wrapper .Header .Headerwrap .brand .nav li.li4 {
    margin-right: 0;
  }
  /* line 261, ../sass/style-responsive.scss */
  .Wrapper.Wrapper .Contents .Contentswrap .ContentHeader .ContentHeaderwrap {
    width: 100%;
    margin: auto;
    overflow: hidden;
    *zoom: 1;
  }
  /* line 269, ../sass/style-responsive.scss */
  .Wrapper.Wrapper .Contents .Contentswrap .ContentBodywrap .MainContent {
    padding: 40px 0 40px;
  }
  /* line 271, ../sass/style-responsive.scss */
  .Wrapper.Wrapper .Contents .Contentswrap .ContentBodywrap .MainContent .MainContentwrap {
    width: 100%;
    margin: auto;
    overflow: hidden;
    *zoom: 1;
    background: #fff;
  }
  /* line 277, ../sass/style-responsive.scss */
  .Wrapper.Wrapper .Contents .Contentswrap .ContentBodywrap .MainContent .MainContentwrap .content_header {
    padding-top: 30px;
    margin: auto;
  }
  /* line 281, ../sass/style-responsive.scss */
  .Wrapper.Wrapper .Contents .Contentswrap .ContentBodywrap .MainContent .MainContentwrap .content_body {
    padding: 20px;
    margin: auto;
  }
  /* line 285, ../sass/style-responsive.scss */
  .Wrapper.Wrapper .Contents .Contentswrap .ContentBodywrap .MainContent .MainContentwrap .content_footer {
    padding: 20px;
    margin: auto;
  }
  /* line 293, ../sass/style-responsive.scss */
  .Wrapper.Wrapper .Contents .Contentswrap .ContentBodywrap .SubContent .SubContentwrap {
    width: 100%;
    margin: auto;
    overflow: hidden;
    *zoom: 1;
  }
  /* line 301, ../sass/style-responsive.scss */
  .Wrapper.Wrapper .Contents .Contentswrap .ContentFooter {
    background: #444444;
  }
  /* line 303, ../sass/style-responsive.scss */
  .Wrapper.Wrapper .Contents .Contentswrap .ContentFooter .ContentFooterwrap {
    width: 100%;
    margin: auto;
    overflow: hidden;
    *zoom: 1;
  }
  /* line 307, ../sass/style-responsive.scss */
  .Wrapper.Wrapper .Contents .Contentswrap .ContentFooter .ContentFooterwrap .menu {
    font-size: 15px;
  }
  /* line 310, ../sass/style-responsive.scss */
  .Wrapper.Wrapper .Contents .Contentswrap .ContentFooter .ContentFooterwrap .menu .menu-item a {
    display: block;
    padding: 10px;
    background: #999;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
  }
  /* line 316, ../sass/style-responsive.scss */
  .Wrapper.Wrapper .Contents .Contentswrap .ContentFooter .ContentFooterwrap .menu .menu-item.current-menu-item {
    background: #aaa;
  }
  /* line 320, ../sass/style-responsive.scss */
  .Wrapper.Wrapper .Contents .Contentswrap .ContentFooter .ContentFooterwrap .menu .sub-menu {
    display: none;
  }
  /* line 329, ../sass/style-responsive.scss */
  .Wrapper.Wrapper .Footer .Footerwrap {
    width: 100%;
    margin: auto;
  }
}
/*sp width*/
/*320<480<768<979*/
/*add*/
/*whole_wrapper*/
/* line 13, ../sass/style.scss */
.Wrapper .Header {
  background: #232323;
  border-bottom: 3px solid #191919;
}
/* line 17, ../sass/style.scss */
.Wrapper .Header .Headerwrap .brand {
  border-bottom: 1px solid #666;
}
/* line 19, ../sass/style.scss */
.Wrapper .Header .Headerwrap .brand .logo {
  display: block;
  text-indent: -9999em;
  background: url(../img/logo_l.png) no-repeat center center;
  -webkit-background-size: 250px 50px;
  -moz-background-size: 250px 50px;
  -o-background-size: 250px 50px;
  background-size: 250px 50px;
}
/* line 26, ../sass/style.scss */
.Wrapper .Header .Headerwrap .brand .head_text {
  color: #fff;
}
/* line 31, ../sass/style.scss */
.Wrapper .Header .Headerwrap .menu-headermenu-container {
  font-size: 14px;
}
/* line 33, ../sass/style.scss */
.Wrapper .Header .Headerwrap .menu-headermenu-container a {
  color: #fff;
  display: block;
  padding: 10px;
  background: rgba(0, 0, 0, 0);
  -webkit-transition-property: background;
  -moz-transition-property: background;
  -o-transition-property: background;
  transition-property: background;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
}
/* line 36, ../sass/_base.scss */
.Wrapper .Header .Headerwrap .menu-headermenu-container a:visited {
  color: #eee;
}
/* line 39, ../sass/_base.scss */
.Wrapper .Header .Headerwrap .menu-headermenu-container a:hover {
  color: #0081cc;
}
/* line 40, ../sass/style.scss */
.Wrapper .Header .Headerwrap .menu-headermenu-container a:hover {
  text-decoration: none;
  background: rgba(0, 0, 0, 0.2);
}
/* line 45, ../sass/style.scss */
.Wrapper .Header .Headerwrap .menu-headermenu-container .nav {
  overflow: hidden;
  *zoom: 1;
}
/* line 47, ../sass/style.scss */
.Wrapper .Header .Headerwrap .menu-headermenu-container .nav li {
  display: block;
  float: left;
}
/* line 52, ../sass/style.scss */
.Wrapper .Header .Headerwrap .menu-headermenu-container .nav li.current_page_item a {
  color: #8dc75a;
  border-bottom: 3px solid #8dc75a;
}
/* line 62, ../sass/style.scss */
.Wrapper .Contents {
  background: #333333;
}
/* line 65, ../sass/style.scss */
.Wrapper .Contents .Contentswrap .ContentHeader {
  background: url(../img/headimg.jpg) no-repeat center center;
}
/* line 67, ../sass/style.scss */
.Wrapper .Contents .Contentswrap .ContentHeader .ContentHeaderwrap {
  color: #fff;
}
/* line 69, ../sass/style.scss */
.Wrapper .Contents .Contentswrap .ContentHeader .ContentHeaderwrap .wrap {
  padding: 40px 10px 40px;
}
/* line 72, ../sass/style.scss */
.Wrapper .Contents .Contentswrap .ContentHeader .ContentHeaderwrap .wrap .head_label {
  font-size: 120%;
  text-shadow: rgba(0, 0, 0, 0.8) 0 0 10px;
}
/* line 76, ../sass/style.scss */
.Wrapper .Contents .Contentswrap .ContentHeader .ContentHeaderwrap .wrap .head_text {
  font-size: 80%;
  text-shadow: rgba(0, 0, 0, 0.8) 0 0 10px;
}
/* line 86, ../sass/style.scss */
.Wrapper .Contents .Contentswrap .ContentBody .ContentBodywrap .MainContent {
  background: #f2f2f2;
}
/* line 91, ../sass/style.scss */
.Wrapper .Contents .Contentswrap .ContentBody .ContentBodywrap .MainContent .MainContentwrap .content_header .title {
  font-size: 110%;
  padding-bottom: 10px;
  border-bottom: 2px solid #ccc;
  font-weight: bold;
}
/* line 97, ../sass/style.scss */
.Wrapper .Contents .Contentswrap .ContentBody .ContentBodywrap .MainContent .MainContentwrap .content_header .title a {
  color: #333;
}
/* line 99, ../sass/style.scss */
.Wrapper .Contents .Contentswrap .ContentBody .ContentBodywrap .MainContent .MainContentwrap .content_header .title a:hover {
  color: #555;
}
/* line 104, ../sass/style.scss */
.Wrapper .Contents .Contentswrap .ContentBody .ContentBodywrap .MainContent .MainContentwrap .content_header .blog_info {
  color: #999;
  font-size: 70%;
}
/* line 110, ../sass/style.scss */
.Wrapper .Contents .Contentswrap .ContentBody .ContentBodywrap .MainContent .MainContentwrap .content_body p {
  margin-bottom: 0.8em;
}
/* line 113, ../sass/style.scss */
.Wrapper .Contents .Contentswrap .ContentBody .ContentBodywrap .MainContent .MainContentwrap .content_body .thumbnail {
  background: pink;
  margin: auto;
  width: 90%;
}
/* line 118, ../sass/style.scss */
.Wrapper .Contents .Contentswrap .ContentBody .ContentBodywrap .MainContent .MainContentwrap .content_body .thumbnail img {
  width: 100%;
  height: auto;
}
/* line 129, ../sass/style.scss */
.Wrapper .Contents .Contentswrap .ContentBody .ContentBodywrap .SubContent {
  background: #8dc75a;
}
/* line 132, ../sass/style.scss */
.Wrapper .Contents .Contentswrap .ContentBody .ContentBodywrap .SubContent .SubContentwrap .pr_block {
  padding: 10px 0;
}
/* line 134, ../sass/style.scss */
.Wrapper .Contents .Contentswrap .ContentBody .ContentBodywrap .SubContent .SubContentwrap .pr_block .label {
  background: url(../img/phone.png) no-repeat left center;
  padding-left: 50px;
  font-weight: bold;
}
/* line 140, ../sass/style.scss */
.Wrapper .Contents .Contentswrap .ContentBody .ContentBodywrap .SubContent .SubContentwrap .pr_block .sub {
  font-size: 14px;
  color: #666;
}
/* line 154, ../sass/style.scss */
.Wrapper .Contents .Contentswrap .ContentFooter .ContentFooterwrap .menu {
  padding: 20px;
  font-size: 16px;
}
/* line 163, ../sass/style.scss */
.Wrapper .Contents .Contentswrap .ContentFooter .ContentFooterwrap .menu .sub-menu {
  font-size: 14px;
  padding-left: 10px;
}
/* line 172, ../sass/style.scss */
.Wrapper .Footer {
  background: #2c2c2c;
}
/* line 176, ../sass/style.scss */
.Wrapper .Footer .Footerwrap .footer_links .menu {
  text-align: center;
}
/* line 178, ../sass/style.scss */
.Wrapper .Footer .Footerwrap .footer_links .menu li {
  display: inline-block;
}
/* line 180, ../sass/style.scss */
.Wrapper .Footer .Footerwrap .footer_links .menu li a {
  color: #fff;
  font-size: 14px;
  padding: 10px;
}
/* line 36, ../sass/_base.scss */
.Wrapper .Footer .Footerwrap .footer_links .menu li a:visited {
  color: #eee;
}
/* line 39, ../sass/_base.scss */
.Wrapper .Footer .Footerwrap .footer_links .menu li a:hover {
  color: #0081cc;
}
/* line 190, ../sass/style.scss */
.Wrapper .Footer .Footerwrap .logo_wrap a {
  background: url(../img/logo_l.png) no-repeat center center;
  -webkit-background-size: 250px 50px;
  -moz-background-size: 250px 50px;
  -o-background-size: 250px 50px;
  background-size: 250px 50px;
  display: block;
  margin: 0 auto;
  text-indent: -9999em;
  width: 250px;
  height: 50px;
}
/* line 201, ../sass/style.scss */
.Wrapper .Footer .Footerwrap .address {
  width: 60%;
  margin: auto;
  font-size: 15px;
  color: #999;
}
/* line 206, ../sass/style.scss */
.Wrapper .Footer .Footerwrap .address a {
  color: #aaa;
  text-decoration: underline;
}
/* line 211, ../sass/style.scss */
.Wrapper .Footer .Footerwrap .com_info {
  width: 60%;
  margin: auto;
  font-size: 15px;
  color: #999;
}
/* line 216, ../sass/style.scss */
.Wrapper .Footer .Footerwrap .com_info a {
  color: #aaa;
  text-decoration: underline;
}
/* line 221, ../sass/style.scss */
.Wrapper .Footer .Footerwrap .copyright {
  text-align: center;
  color: #999;
  font-size: 14px;
}
/* line 224, ../sass/style.scss */
.Wrapper .Footer .Footerwrap .copyright a {
  color: #aaa;
  text-decoration: underline;
}
