@charset "utf-8";
/* Base class
------------------------- */
@import "compass/reset";

body{
	font-family:'Lucida Grande', 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', Meiryo, メイリオ, sans-serif;
	line-height: 1.8;
	color:#333;
}

@media screen and(min-width:($sp-width)){
	body{
	font-size:22px ;
	}
}

@media  screen and(max-width:($sp-width -1)){
	body{
	font-size:16px ;
	}
}
a{
	color:#0081cc;
	text-decoration: none;
	&:visited{
		color:#0061aa;
	}
	&:hover{
		text-decoration: underline;
	}
	
}
@mixin whitelink{
	color:#fff;
	&:visited{
		color:#eee;
	}
	&:hover{
		color:#0081cc;
	}

}
