@charset "utf-8";
/*petseacheye variables*/

/*320<480<730<800*/
$pc-width:800px;
$tablet-width:730px;
$sp-width:480px;
$sp-v-width:320px;

$pc-contents-width:800px;
$tablet-contents-width:730px;
$sp-contents-width:100%;
//img
$img_path:"../img";

//colors
$maincolor:#8dc75a;
$subcolor:red;

$Headerbg:#232323;
$Contentsbg:#333;
$Footerbg:#2c2c2c;


$ContentFooterbg:#444;

$MainContentbg:#f2f2f2;
//$MainContentbg:#666;
//$SubContentbg:#ebebeb;
$SubContentbg:#8dc75a;
