@charset "utf-8";
/*petseacheye style*/
@import "compass";
@import "variables";
@import "base";
@import "style-responsive";

/*320<480<768<979*/

/*add*/
/*whole_wrapper*/
.Wrapper{
	.Header{
		background: $Headerbg;
		border-bottom: 3px solid #191919;
		.Headerwrap{
			.brand {
				border-bottom: 1px solid #666;
				.logo {
					display: block;
					text-indent:-9999em ;

					background: url(#{$img_path}/logo_l.png) no-repeat center center;
					@include background-size(250px 50px);
				}
				.head_text{
					color:#fff;
				}
			}
			//nav
			.menu-headermenu-container{
				font-size: 14px;
				a{
					@include whitelink;
					display: block;
					padding: 10px;
					background: rgba(0,0,0,0);
					@include transition-property(background);
					@include transition-duration(0.2s);
					&:hover{
						text-decoration: none;
						background: rgba(0,0,0,0.2);
					}
				}
				.nav{
					@include clearfix;
					li{
						display: block;
						float: left;

						&.current_page_item{
							a{
								color:$maincolor;
								border-bottom: 3px solid $maincolor;
							}
						}
					}
				}
			}
		}
	}
	.Contents{
		background: $Contentsbg;
		.Contentswrap{
			.ContentHeader{
				background: url(#{$img_path}/headimg.jpg) no-repeat center center;
				.ContentHeaderwrap{
					color:#fff;
					height:300px;
				}
			}
			.ContentBody{
				.ContentBodywrap{
					.MainContent{
						background: $MainContentbg;
						.MainContentwrap {

							.content_header{
							}
							.content_body{
							}
							.content_footer{
							}
						}

					}
					.SubContent{
						background: $SubContentbg;
						.SubContentwrap {

						}

					}
				}
			}
			.ContentFooter{
				.ContentFooterwrap{
					.menu{
						padding: 20px;
						font-size: 16px;
						.menu-item{
							a{
							}
							&.current-menu-item{
							}
						}
						.sub-menu{
							font-size: 14px;
							padding-left: 10px;
						}
					}
				}
			}
		}
	}
	.Footer{
		background: $Footerbg;
		.Footerwrap{
			.footer_links {
				.menu{
					text-align: center;
					li{
						display: inline-block;
						a{
							@include whitelink;
							font-size: 14px;
							padding: 10px;
						}
					}
				}
				
			}
			.logo_wrap {
				a{
				background: url(#{$img_path}/logo_l.png) no-repeat center center;
				@include background-size(250px 50px);
				display: block;
				margin: 0 auto;
				text-indent: -9999em;
				width:250px;
				height:50px;
				}

			}
			.address{
				width:60%;
				margin: auto;
				font-size: 15px;
				color:#333;
				a{
					color:#fff;
				}
			}
			.com_info{
				width:60%;
				margin: auto;
				font-size: 15px;
				color:#333;
				a{
					color:#fff;
				}
			}
			.copyright{
				text-align: center;
				color:#333;
				a{
					color:#fff;
				}
				font-size: 14px;
			}
			
		}
	}
}


